.background-left {
    background: url(../../../assets/images/magicPeacockLeftBar.png) no-repeat;
    height: 80vh;
    width: 100%; 
}

.background-home {
    background: url(../../../assets/images/mainBGPeacock.png) no-repeat;
    height: 80vh;
    width: 100%; 
}